body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: beige;
    height: 300px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    width: 100%;
    height: 150px;
    background-color: beige;
}

.container img {
    width: 100px;
    margin: auto;
    display: block;
    border-radius: 50%;
}